[Desktop Entry]
Name=PureSketch
Type=Application
X-KDE-PluginInfo-Author=zalimannard
X-KDE-PluginInfo-Email=puresketchtheme@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=PureSketch
X-KDE-PluginInfo-Version=1.1
